:root {
  --myblue: rgb(59, 128, 189);
  --mypurple: rgb(103, 78, 142);
  --myblack: rgb(0, 0, 0);
  --mygreen: rgb(151, 197, 72);
  --myyellow: rgb(246, 203, 88);
  --myred: rgb(158, 42, 43);
  --mypink: rgb(255, 191, 183);
  --myorange: rgb(252, 159, 91);
  --mygrey: rgb(203, 203, 212);
  --mylightblue: rgb(163, 231, 252);
  --mydarkgreen: rgb(18, 102, 79);
}

.container-blue {
  background-color: var(--myblue) !important;
}

.container-purple {
  background-color: var(--mypurple) !important;
}

.container-black {
  background-color: var(--myblack) !important;
}

.container-green {
  background-color: var(--mygreen) !important;
}

.container-yellow {
  background-color: var(--myyellow) !important;
}

.container-red {
  background-color: var(--myred) !important;
}

.container-pink {
  background-color: var(--mypink) !important;
}

.container-orange {
  background-color: var(--myorange) !important;
}

.container-grey {
  background-color: var(--mygrey) !important;
}

.container-lightblue {
  background-color: var(--mylightblue) !important;
}

.container-darkgreen {
  background-color: var(--mydarkgreen) !important;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.slides-container {
  width: 75%;
  font-family: 'Tiro Gurmukhi', serif;
}

#blue-slides, #green-slides, #yellow-slides, #black-slides, #purple-slides {
  max-width: 750px;
  width: 100%;
}

.img-container {
  position: fixed;
  left: 0%;
  bottom: 50%;
}

@keyframes laurette-fly {
  0%   {visibility: visible; transform: scale(0);}
  100% {transform: scale(1.5);}
}

.laurette-fly {
  height: 50%;
  left: -10%;
  bottom: 25%;
  position: fixed;
  transform-origin: 50% 50%; 
  visibility: hidden;
}

@keyframes laurette-coat {
  0%   {visibility: visible; bottom: -50%;}
  60%  {bottom: 0px;}
  90%  {bottom: 0px;}
  100% {bottom: -50%;}
}

.laurette-coat {
  height: 50%;
  position: fixed;
  visibility: hidden;
}

@keyframes laurette-shoe {
  0%   {visibility: visible; transform: scale(10);}
  10%  {transform: scale(1);}
  100% {transform: scale(1);}
}

.laurette-shoe {
  height: 50%;
  left: 25%;
  bottom: 25%;
  position: fixed;
  transform-origin: 50% 50%; 
  visibility: hidden;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}

.square-container {
  margin: 0;
}

.square {
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
  height: 48px;
  width: 48px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.square.selected {
  border: 1px solid red;
}

.square.blacked-out {
  background-color: rgb(198, 198, 198);
}

.button-container {
  display: flex;
  justify-content: center;
}

.arrow-button {
  font-size: 2rem;
  color: #0d6efd;
}

.arrow-button .fa-arrow-up {
  transform: rotate(90deg);
}

.arrow-button.down .fa-arrow-up {
  transform: rotate(180deg);
}