:root {
  --myblue: rgb(59, 128, 189);
  --mypurple: rgb(103, 78, 142);
  --myblack: rgb(0, 0, 0);
  --mygreen: rgb(151, 197, 72);
  --myyellow: rgb(246, 203, 88);
}

.container-blue {
  background-color: var(--myblue) !important;
}

.container-purple {
  background-color: var(--mypurple) !important;
}

.container-black {
  background-color: var(--myblack) !important;
}

.container-green {
  background-color: var(--mygreen) !important;
}

.container-yellow {
  background-color: var(--myyellow) !important;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.slides-container {
  width: 75%;
  font-family: 'Tiro Gurmukhi', serif;
}

#blue-slides, #green-slides, #yellow-slides, #black-slides, #purple-slides {
  max-width: 750px;
  width: 100%;
}

